# Dependencies
node_modules/

# Production output / Build
dist/
.wrangler/

# Environment variables
.env
.env.local
.env.*.local
.dev.vars


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and Editor files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
